.battle-repos-container {
    display: flex;
    justify-content: center;
}
.battle-repo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 15px;
}
.battle-repo > span {
    display: flex;
}
.battle-repo > span > input {
    flex: 1;
}

.battle-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%);

    padding: 10px 20px;
}